<h1>List of users</h1>

<table border="1">

  <tr>

    <th><b>Username</b></th>

    <th><b>Private?</b></th>

    <th></th>

    <th></th>

  </tr>

  <% @users.each do |user| %>

    <tr>

      <td> <%= user.username %> </td>

      <% if user.private == true %>

        <td> Yes </td>

      <% else %>

        <td> No </td> 

      <% end %>

      <td>

      <% if @current_user != nil %>

      <% session_id = @current_user.id %>
      
        <% if user.follow_requests.where( :sender_id => session_id ).at(0) == nil %>

          <form action="/insert_follow_request">

            <input type="hidden" name="query_recipient_id" value="">

            <button>Follow</button>

          </form>

        <% elsif user.follow_requests.where( :sender_id => session_id ).at(0).status == "accepted" %>

          <a href="">Unfollow</a>

        <% elsif user.follow_requests.where( :sender_id => session_id ).at(0).status == "pending" %>

          Request sent. <a href="">Cancel</a>

        <% end %>

      <% end %>

      </td>

      <td><a href="/users/<%= user.username %>">Show details</a></td>

    </tr>

  <% end %>

</table>
