<h1>List of users</h1>

<table border="1">

  <tr>

    <th><b>Username</b></th>
    
    <th><b>Private?</b></th>
    
    <th></th>
    
    <th></th>
    
  </tr>

  <% @users.each do |user| %>
  
    <tr>
    
      <td> <%= user.username %> </td>
      
      <% if user.private == true %>
      
      <td> Yes </td>
      
      <% else %>
      
      <td> No </td>
      
      <% end %>
      
      <td></td>

      <td><a href="/users/<%= user.username %>"> Show details </a></td>

    </tr>

  <% end %>
  
</table>
